<div class="h-[9rem] w-[15rem] bg-gray-800 border border-gray-200 rounded-lg text-white">
    <div class="h-[70%] w-full rounded"><%= image_tag course.thumbnail,class:"w-full h-full object-fit rounded"%></div>
    <div class="flex flex-col justify-between px-2 ">
        <p class="text-sm"><%=course.title%></p>
        <p class="text-sm"><%=course.price%></p>
    </div>
</div>