<div class="h-[12rem] w-[17rem] bg-gray-800 border border-gray-200 rounded-lg text-white">
    <div class="h-[60%] w-full rounded"><%= image_tag course.thumbnail,class:"w-full h-full object-fit rounded"%></div>
    <div class="h-[40%] flex flex-col justify-between px-2 ">
        <p class="text-sm"><%=course.title%></p>
        <div class="w-full flex items-center py-1">
            <input class="bg-white h-1 w-full" type="range" max="100" min="0" disabled=true value="<%=course.completion(current_user)%>"/>
            <p class="text-white p-1"><%=course.completion(current_user) %>%</p>
        </div>
    </div>
    
</div>