<div class="flex flex-col items-center">   
    <h1>Search result : <%=courses.count%></h1>
    <div class="container mx-auto px-4">
        <%if courses.any?%>
            <%courses.each do |course|%>
                <%= link_to student_path(course) do %>
                    <div class="border-b">
                        <p class="py-2 px-4 "><%=course.title%></p>
                        <p class="py-2 px-4 "><%=course.price%></p>
                    </div>
                <%end%>
            <%end%>
        <%else%>
            <h3> item not found</h3>
        <%end%>
    </div>
</div>
