<div class="w-full flex flex-col items-center">   
    <h1>Search result : <%=courses.count%></h1>
    <div class="container w-[90%] mx-auto px-4 flex flex-wrap gap-4">
        <%if courses.any?%>
            <%courses.each do |course|%>
                <%= link_to student_path(course) do %>
                    <%= render "components/course",course: course %>
                <%end%>
            <%end%>
        <%else%>
            <h3> item not found</h3>
        <%end%>
    </div>
</div>
