<div class="px-4 py-1">
    <h2 class="px-1">All Forumes</h2>
    <div class="px-4 py-4 flex flex-col gap-4">
        <%@forumes.each do |forume|%>
            <%= link_to forume_forume_path forume do %>
                <div class="border rounded-lg px-4">
                    <p>Title : <%=forume.course.title%></p>
                    <div>
                        <p>Total Question : <%=forume.questions.count%>
                    </div>
                </div>
            <%end%>
        <%end%>
    </div>
</div>