<div>
     <div class="w-screen h-screen flex">
        <div class="w-[20%] border-r-2 border-gray-200">
           
            <div class="h-full flex flex-col justify-between  py-3 ">
                <div class="flex flex-col">
                    <p class="py-4 text-center">Chapter List</p>
                    <% @course.chapters.each do |chapter|%>
                        <p class="pl-3 bg-gray-100 mx-2 rounded-sm cursor-pointer "><%=chapter.title%></p>
                    <%end%>
                </div>
            </div>
        </div>
        <div class="h-screen w-[80%]"> 
            <div class="h-[8%] w-[100%] border-b flex justify-evenly items-center">
                <%= link_to 'Back', 'javascript:history.go(-1);', class:"h-8 flex justify-center text-white items-center px-5 hover:bg-gray-300 cursor-pointer inline-block bg-gray-800 rounded"%>
                <%= link_to "Forume","/forume/#{@course.id}", class:"h-8 flex justify-center text-white items-center px-5 hover:bg-gray-300 cursor-pointer inline-block bg-gray-800 rounded"%>
            </div>
            <%= render "components/chapter_content", chapter: @course.chapters[0] %>
        </div>
    </div>
</div>