<div>
    <h1>Hello,<%=@user.full_name%>
    <h1>Congratulation you have successfully enrolled in course</h1>
    <p>Please <%= link_to "login", new_user_session_url %>,to start learning from Learno</p>
</div>