<div class="h-screen w-screen flex flex-col jusitfy-center items-center">
    <h1 class="text-center">Create new Question</h1>
    <div class="flex justify-center items-center">
        <%= render "form", answer: @answer %>
    </div>
</div>