<div class="h-full">
    <div class="py-4 w-full border-b flex items-center">
            <div class="w-full  flex justify-between items-center px-4">
                <div></div>
                <div class="flex gap-6">
                    <%= link_to 'Back', 'javascript:history.go(-1);', class:"py-1 px-3 bg-blue-500 text-white rounded-lg tex-sm cursor-pointer"%>
                    <%=current_user.email%>
                </div>
            </div>
       </div>
    <%= render "components/my_courses" %>
<div>