<div class="h-full w-full ">
    <div class="flex gap-4 flex-wrap p-4">
        <div class="inline-block p-4 bg-blue-200 rounded-sm  border">
            <p class="font-semibold">Total Earning</p>
            <p class="text-center py-2 font-bold"><%=current_user.total_earning%></p>
        </div>
        <div class="inline-block bg-blue-200 p-4  rounded-sm border">
            <p class="font-semibold">Last Month Total Earning</p>
            <p class="text-center py-2 font-bold"><%=current_user.total_earning_for_last_month%></p>
        </div>
    <div>
</div>